<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>PublicHealthCenter Recommendation System</title>

    <!--부트스트랩 css 추가-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
        .container {
            text-align: center;
            width: 100%;
            height: 700px;
            /*border: 1px solid #bcbcbc;*/
            background-image: url(https://diendan.edu.vn/wp-content/uploads/2020/07/background-bac-si-y-te_034616318.jpg);
            background-repeat: no-repeat;
            /*background-size: 100%;*/
        }

        .body {
            text-align: center;
            width: 100%;
            min-height: 100%;
            position: relative;
            /*background-color: red;*/
            /*border: 1px solid #bcbcbc;*/

        }
        .header {
            padding-top: 30px;
            font-size: 40px;
            font-weight: bold;
        }
        .search-contain  {
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .search-contain .search{

            height:100px;
            width: 700px;
            display: block;
            margin-top: 200px;
            /*border: 1px solid #bcbcbc;*/
        }

        .grid-image{
            display: flex;
            justify-content: center;
        }

        img {
            margin: 20px 0 20px;
            width: 50%;
            height: 450px;
        }
        .footer-contain {
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .footer-contain .footer {
            color: #234280;
            position: absolute;
            bottom: 0;

        }
    </style>
</head>
<body>
<div>
    <div>
        <div class="container">

            <div class="body">
                <div >
                    <div class="header">
                        <p>PublicHealthCenter Recommendation</p>
                    </div>
                    <p>주소를 입력하시면 주소 기준으로 가까운 보건소의 위치 최대 3곳 추천드립니다.</p>
                </div>
                <div class="search-contain">
                    <div class="search">
                        <form action="/search" method = "post">
                            <div style="display: flex;" class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control" id="address_kakao" name="address"
                                           placeholder="주소(지번 또는 도로명)를 입력하세요. ex) 부산광역시 중구 중구로 120"  readonly>
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn btn-primary" id="btn-save">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer-contain">
                    <div class="footer"> {{> footer}} </div>
                </div>

            </div>
            <div class="grid-image">
<!--                <img src="/images/map.png" alt="map" class="img-responsive img-rounded">-->
<!--                <img src="/images/road.png" alt="road" class="img-responsive img-rounded">-->
            </div>

        </div>
    </div>
</div>

<!--부트스트랩 js, jquery 추가-->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>

<!-- Kakao 우편번호 서비스 -->
<!-- https://postcode.map.daum.net/guide -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script>
    window.onload = function() {
        document.getElementById("address_kakao").addEventListener("click", function(){

            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById("address_kakao").value = data.address;
                }
            }).open();
        });
    }
</script>

</body>
</html>